.FollowersWidget {
    border: solid var(--shadow) 1px;
    border-radius: 15rem;
    box-sizing: border-box; height: 210rem; width:300rem;
    display: flex; flex-direction: column; justify-content: space-around; align-items: center;
}

.FollowersWidget h5 {
    text-align: center; 
    width: 200rem;
}