.PartnerButton {
    box-sizing: border-box; height: 47rem; width: 245rem;
    background-color: var(--dark);
    margin: 25rem 0 25rem 0;
    border-radius: 60px;
}

.PartnerButton h3 {
    color: var(--white);
}