@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Raleway:wght@800&display=swap%27');

:root {
    /* Colors: */
    --blue: #3C587F;
    --blue-light: #97C0D9;

    --main-light: #00FF8B;
    --main: #0BEB82;
    --main-dark: #29CC7F;

    --accent-light: #FF4233;
    --accent: #F22818;
    --accent-dark: #E52212;

    --white: #FCFCFF;
    --light: #E6E6EB;
    --shadow: #D4D4DB;

    --dark: #353540;
    --black: #212126;
    --border: #0B0B0D;

}

/* TODO::
- linear gradient
- responsive 
*/

/* @media screen and (max-device-width:450px) {} */

html {
    height: 100%;
    font-size: 1px;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: 'Comfortaa', cursive;
    font-family: 'Raleway', sans-serif;
}

#root {
    height: 100%;
}


h1 {
    font-size: 70rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

h2 {
    font-size: 30rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

h3 {
    font-size: 20rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

h4 {
    font-size: 20rem;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
}

h5 {
    font-size: 18rem;
    font-family: 'Comfortaa', cursive;
    font-weight: normal;
}

h6 {
    font-size: 14rem;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
}

p {
    font-size: 14rem;
    font-family: 'Comfortaa', cursive;
    font-weight: normal;
}