@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Raleway:wght@800&display=swap%27');

:root {
    /* Colors: */
    --blue: #3C587F;
    --blue-light: #97C0D9;

    --white: white;
    --black: black;

    --dark: #353540;
    --grey: #C4C4C4;

}

/* TODO::
- linear gradient
- responsive 
*/

/* @media screen and (max-device-width:450px) {} */

html {
    height: 100%;
    font-size: 1px;
}

body {
    height: 100%;
    font-family: 'Comfortaa', cursive;
    font-family: 'Raleway', sans-serif;
}

#root {
    height: 100%;
}


h1 {
    font-size: 70rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

h2 {
    font-size: 30rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

h3 {
    font-size: 20rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

h4 {
    font-size: 20rem;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
}

h5 {
    font-size: 18rem;
    font-family: 'Comfortaa', cursive;
    font-weight: normal;
}

h6 {
    font-size: 14rem;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
}

p {
    font-size: 14rem;
    font-family: 'Comfortaa', cursive;
    font-weight: normal;
}